@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html {
        @apply scroll-smooth;
    }
    :focus-visible{
        @apply outline-rm-green;
    }
    textarea{
        @apply overflow-hidden;
    }
    
    sup {
        top: -0.25em;
    }
    q:before, q:after{
        @apply hidden;
    }
}

@layer components{
.container {
    @apply px-6 md:px-0;
}
.h-inherit{
    height:inherit;
}
}


/* Form Styling */
.form-one-col .form-group {
    @apply w-full;
}
.form-two-col .form-group {
    @apply w-[48%];
}

input:-internal-autofill-selected, input:-internal-autofill:active, input:-internal-autofill {
    background-color: rgba(0,0,0,0) !important;
}
.form-group input, .form-group textarea, .form-group select{
    background-color: rgba(0,0,0,0)!important;
    @apply text-21px;
}

/* Form label transitions */
.translate-form .form-group input:focus + label, .translate-form .form-group input:valid + label, .translate-form .form-group input:not(:placeholder-shown) + label {
    @apply -translate-y-14 text-18px;
}
.translate-form textarea:focus + label, .translate-form .form-group textarea:not(:placeholder-shown) + label {
    @apply -translate-y-14 text-18px;
} 
.translate-form .form-group select + label{
    @apply -translate-y-14 text-18px;
}

.pristine-error {
    @apply -translate-y-4 text-[#EA0000] font-basic-sans text-18px;
}

.translate-form .has-danger input, .translate-form .has-danger textarea {
    @apply border-[#EA0000];
}

/* Frosted Effect */
.frosted-glass{
    @apply drop-shadow-lg;
    background: rgba(255,255,255,0.85);
    backdrop-filter: saturate(200%) blur(1px);
    -webkit-backdrop-filter: saturate(150%) blur(1px);
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .frosted-glass{
        @apply drop-shadow-lg;
        background: rgba(255,255,255,0.85);
        backdrop-filter: saturate(200%) blur(1px);
        -webkit-backdrop-filter: saturate(150%) blur(1px);
    }
}

/* Venn Diagrams */
venn-diagram {
    --venn-circle-stroke: #FFFFFF;
    --venn-circle-stroke-width: 15;
    --venn-circle-fill-opacity: 1;
    --venn-circle-a-fill:#A9CF38;
    --venn-circle-b-fill:#24b6bf;

    --venn-intersection-a-b-fill: purple;
    --venn-intersection-a-b-opacity:1; 
    --venn-intersection-a-b-fill-opacity:1;
    --venn-intersection-a-b-stroke: white;
    --venn-intersection-a-b-stroke-width: 15px;

    --venn-label-font-family: 'stratos';
    --venn-label-color: #FFFFFF;
    --venn-label-size: 2.5rem;
    --venn-label-font-weight: bold;
    --venn-label-line-height:2.75rem;
  }
